@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&subset=chinese-traditional');

// mixin
@mixin ab_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 主色系變數
$main-color01: #0096DA;
$main-color01-light: #EEF8FF;
$main-color01-dark: #0078AF;
$text-color: #333333;

// 共用
body {
    font-family: "Noto Sans TC", sans-serif;
}
header {
    nav {
        background-color: #fff;
        &.navbar {
            @media (max-width: 992px) {
                padding: 0;
            }
        }
    }
    a.navbar-brand {
        cursor: pointer;
        @media (max-width: 992px) {
            padding: .5rem 1rem;
        }
    }
    .navbar-toggler {
        outline: none;
        color: $main-color01-dark;
        @media (max-width: 992px) {
            padding: .5rem 1rem;
        }
    }
    .navbar-nav {
        @media (max-width: 992px) {
            text-align: right;
        }
    }
    a.nav-link {
        color: $text-color!important;
        border-bottom: 2px solid #fff;
        padding: .5rem 1rem!important;
        @media (max-width: 992px) {
            background-color: $main-color01-light;
        }
        &:hover {
            color: $main-color01-dark!important;
            transition: .3s;
            cursor: pointer;
            border-bottom: 2px solid $main-color01;
            
        }
    }
}
h2.section-title {
    font-size: 3rem;
    font-weight: 700;
    span {
        font-size: 1.8rem;
        color: $main-color01;
        letter-spacing: 1px;
        font-weight: 400;   
    }
}
.about {
    h2 {
        margin: 0 0 2rem -6rem;
        @media (max-width: 768px) {
            margin: 0 0 1rem 0;
        }
    }
    p {
        line-height: 1.8;
    }
    h6.scroll {
        color: $main-color01;
        text-align: center;
        font-size: 0.9em;
        font-weight: normal;
        position: absolute;
        right: 15%;
        bottom: -23%;
        opacity: 0;
        z-index: 9;
        transition: 0.5s;
        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 60px;
            margin: auto;
            background-color: $main-color01;
            transform: scaleX(1.5) scaleY(0.5);
            padding-top: 8px;
            font-size: 1.5rem;
        }
        &.opacity1 {
            opacity: 1;
        }
    }
}
.middle-section {
    background:linear-gradient(180deg,rgba(238,248,255,1) 0%,rgba(255,255,255,0) 100%);
    position: relative;
    &:before {
        content: "THINKER";
        display: block;
        position: absolute;
        right: 30px;
        top: 330px;
        font-weight: bold;
        font-size: 5rem;
        color: #EBF5FB;
        @media (max-width: 992px) {
            top: 280px;
        }
        @media (max-width: 768px) {
            top: 380px;
            right: 10px;
            font-size: 4rem;
        }
    }
}
.thinker {
    .thinker-card-title {
        @include ab_center;
        h2 {
            font-weight: 700;
            font-size: 3.8rem;
            background: linear-gradient(90deg, rgba(0,151,226,1) 0%, rgba(0,176,245,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            @media (max-width: 992px) {
                font-size: 2.8rem; 
            }
            @media (max-width: 576px) {
                font-size: 2.4rem; 
            }
        }
        h3 {
            font-size: 2.1rem;
            color: $main-color01;
            text-align: center;
            @media (max-width: 992px) {
                font-size: 1.5rem; 
            }
            @media (max-width: 576px) {
                font-size: 1.3rem; 
            }
        }
    }
    .thinker-card {
        background-color: #fff;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
        h6 {
            color: $text-color;
        }
        h4 {
            color: $main-color01-dark;
            line-height: 1.5;
            margin-bottom: 0;
            @media (max-width: 992px) {
                font-size: 1rem; 
            }
        }
    }
}
.service {
    .customized {
        color: #fff;
        background-color: #0095D9;
    }
    .module {
        color: #fff;
        background-color: #0056D9;
    }
    h4 {
        display: block;
        font-size: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #fff;
    }
    .service-item {
        i {
            font-size: 2rem;
            background-color: rgba(255, 255, 255, 0.2);
            padding: .5rem;
            border-radius: 50%;
            line-height: 2rem;
            vertical-align: top;
            margin-right: 1rem;
            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-right: .5rem;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 4.5rem);
            span {
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
    }
}
.products {
    h2 {
        display: inline-block;
    }
    .products-more {
        display: inline-block;
        color: $main-color01;
        &:hover {
            color: darken($main-color01, 10%);
            text-decoration: none;
            transition: .3s;
        }
    }
    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-attachment: fixed;
        background:linear-gradient(270deg,rgba(242,247,253,1) 40%,rgba(255,255,255,0) 100%,rgba(238,238,238,1) 100%);
        @media (max-width: 768px) {
            background:linear-gradient(360deg,rgba(238,248,255,1) 50%,rgba(255,255,255,0) 100%);
        }
    }
    .carousel {
        border: 1px solid lighten($main-color01, 50%);
    }
    .view {
        max-height: 80vh;
    }
    .carousel-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        z-index: 10;
        padding: 0 6rem;
        @media (max-width: 768px) {
            @include ab_center;
            padding: 0;
            text-align: center;
        }
        h5 {
            font-size: 1.5rem;
            &:after {
                display: block;
                content: "";
                width: 2rem;
                height: 5px;
                margin-top: .75rem;
                background-color: $main-color01;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        a {
            background-color: $main-color01;
            border-radius: 0;
            color: #fff;
            &:hover {
                background-color: darken($main-color01, 10%);
            }
        }
    }
    .carousel-indicators li {
        background-color: $main-color01;
    }
    .carousel-control-prev, .carousel-control-next {
        color: $main-color01;
    }
}
.contact {
    line-height: 1.5;
    img {
        width: 200px;
    }
    h4 {
      font-weight: bold;
      vertical-align: middle;
      font-size: 1.8rem;
      padding-top: .25rem;
      span {
          font-weight: 400;
          font-size: 1rem;
          padding-top: .25rem;
      }  
    }
    ul {
        list-style-type: none;
        line-height: 2;
        i {
            font-size: 1.2rem;
            margin-right: .75rem;
            text-align: center;
            color: $main-color01;
            vertical-align: middle;
        }
    }
    a {
        background-color: $main-color01;
        display: block;
        color: #fff;
        &:hover {
            background-color: darken($main-color01, 10%);
            color: #fff;
        }
    }
}
footer {
    color: #fff;
    text-align: center;
    background:linear-gradient(90deg,rgba(0,152,227,1) 0%,rgba(127,214,251,1) 100%);
}