<nav aria-label="breadcrumb" class="d-none d-sm-inline-block float-right">
    <ol class="breadcrumb bg-transparent p-0 m-0">
      <li class="breadcrumb-item">
        <a href="#" class="text-secondary">首頁</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" class="text-secondary">選單大項</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" class="text-secondary">選單小項</a>
      </li>
      <li class="breadcrumb-item font-weight-bold active" aria-current="page">當前頁面</li>
    </ol>
</nav>